.form {
    display: flex;
    flex-direction: column;
    gap: 8px; 
}

.input {
    box-shadow: var(--main-box-shadow);   
    border: none;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 8px; 
    width: 100%; 
    color: var(--main-font-color);
    font-size: 16px;
    font-weight: 600;
}

.addButton {
    border: none;
    border-radius: 6px;
    padding: 10px;
    color: var(--secondary-font-color);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%; 
    background-color: var(--main-background-color);
    box-shadow: var(--main-box-shadow);
}